---
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <style>
	    .command-output-toggler
	    {
	    	position:absolute;
	    	width:100%;
	    	margin-top:-35px;
	    	margin-left:-10px;
	    	text-align: right;
	    }
	    
	    .command-output-toggler > a
	    {
	    	background-color: yellow;
	    }
	    
	    .command-output
	    {
	    	display: none
	    }
	    
	    li > a > h4
	    {
	    	padding:0px;
	    	margin:0px
	    }
    </style>
    
    <title>wigwam</title>
  </head>
  <body>
  	<a href="https://github.com/vadimkantorov/wigwam"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-5 col-sm-offset-3">
  				<h1>wigwam</h1>
  				<p>Wigwam is a tool for easy dependency fetching and building on Linux.</p>
  				<p>I created wigwam to ease installing scientific software (Torch, Caffe, OpenCV, etc) that often depends on dozens of libraries. Think of it as a simplistic clone of <a href="http://brew.sh">Homebrew</a> that stores the know-how of building from sources scientific software.
  				<p>Features:
  					<ul>
  						<li>doesn't require root</li>
  						<li>very easy to turn on and off, doesn't lock you in</li>
  						<li>lets you run several environments side-by-side</li>
  						<li>debuggable and traceable</li>
  						<li>modular, extensible and concise codebase (one Python <a href="https://github.com/vadimkantorov/wigwam/blob/master/wigwam.py">file</a>)</li>
  					</ul>
  				</p>
  				<p>Limitations:
  					<ul>
  						<li>doesn't support different versions of a library in one environment</li>
  						<li>doesn't support installation recipe versioning</li>
  					</ul>
  				</p>
  				<p>Documentation, bug tracker, source code, TODO and pull requests are on <a href="https://github.com/vadimkantorov/wigwam">GitHub</a>.
  			</div>
		</div>
		
		<div class="row">
  			<div class="col-sm-7 col-sm-offset-3">
  				<h2>Examples</h2>
  				<ul class="nav nav-tabs" style="border-bottom: 0px">
				  <li class="active"><a data-toggle="tab" href="#example-install-torch"><h4>install torch</h4></a></li>
				  <li><a data-toggle="tab" href="#example-install-caffe"><h4>install caffe</h4></a></li>
				  <li><a data-toggle="tab" href="#example-install-opencv"><h4>install opencv</h4></a></li>
				</ul>
				<div class="tab-content" style="position:relative">
	  				<div class="tab-pane active" id="example-install-torch">
	  					<pre>wigwam install torch -DPATH_TO_NVCC="/usr/local/cuda-7.5/bin/nvcc" -DPATH_TO_CUDNN_SO="/usr/local/cudnnR3/lib64/libcudnn.so"</pre>
	  					<div class="command-output-toggler"><a href="#">View command output</a></div>
	  					<div class="command-output-toggler hidden"><a href="#">Hide</a></div>
	  					<pre class="command-output">{% include log_install_torch.txt %}</pre>
	  				</div>
	  				<div class="tab-pane" id="example-install-caffe">
	  					<pre>wigwam install caffe -DPATH_TO_NVCC="/usr/local/cuda-7.5/bin/nvcc" -DPATH_TO_CUDNN_SO="/usr/local/cudnnR3/lib64/libcudnn.so"</pre>
	  					<div class="command-output-toggler"><a href="#">View command output</a></div>
	  					<div class="command-output-toggler hidden"><a href="#">Hide</a></div>
	  					<pre class="command-output">{% include log_install_caffe.txt %}</pre>
	  				</div>
	  				<div class="tab-pane" id="example-install-opencv">
	  					<pre>wigwam install opencv</pre>
	  					<div class="command-output-toggler"><a href="#">View command output</a></div>
	  					<div class="command-output-toggler hidden"><a href="#">Hide</a></div>
	  					<pre class="command-output">{% include log_install_opencv.txt %}</pre>
	  				</div>
  				</div>
  			</div>
		</div>
		
		<div class="row">
  			<div class="col-sm-7 col-sm-offset-3">
  				<h2>Installing</h2>
  				<p><strong>Prerequisites:</strong>&nbsp;check that your system has Python 2.7, bash, wget/curl.</p>
  				<p>Append the following alias to your <strong>~/.bashrc</strong> file (and don't forget to reload it):</p>
  				<pre>alias wigwam='python <($([ -z "$(which curl)" ] &amp;&amp; echo "wget -qO -" || echo "curl -s") https://raw.githubusercontent.com/vadimkantorov/wigwam/master/wigwam.py) --repo https://github.com/vadimkantorov/wigwam/tree/master/wigs'</pre>
  				<p>This way will always run you on the latest version of wigwam and package scripts. Yet it can be unstable at times, for a more robust installation method refer to the <a href="https://github.com/vadimkantorov/wigwam">documentation</a>.</p>
  			</div>
		</div>
		
		<div class="row">
  			<div class="col-sm-7 col-sm-offset-3">
  				<h2>Usage</h2>
  				<h4>installing a package</h4>
  				<pre>wigwam install torch</pre>
  				<h4>making packages discoverable</h4>
  				<pre>wigwam in</pre>
  			</div>
		</div>
		
		<div class="row">
  			<div class="col-sm-4 col-sm-offset-3">
  				<h2>Supported packages</h2>
  				<table class="table table-striped">
  					<thead>
  						<tr>
  							<th>name</th>
							<th>version</th>
  							<th>features</th>
							<th>details</th>
  						</tr>
  					</thead>
  					<tbody>
						{% assign sorted_wigs = site.data.wigs | sort:"name" %}
  						{% for wig in sorted_wigs %}
						<tr>
							<td>{{ wig.name }}</td>
							<td>{{ wig.formatted_version }}</td>
  							<td>
								<ul>
									{% assign sorted_features = wig.supported_features | sort %}
									{% for feature in sorted_features %}
									<li>{{ feature }}</li>
									{% endfor %}
								</ul>
							</td>
							<td><a data-toggle="collapse" data-target="#wig-details-{{ forloop.index }}">details</a></td>
  						</tr>
						<tr class="collapse" id="wig-details-{{ forloop.index }}">
							<td colspan="4">
								<div>
									dependencies:&nbsp;{% if wig.dependencies.size > 0 %}{{ wig.dependencies | sort | array_to_sentence_string }}{% else %}none{% endif %}
								</div>
							</td>
						</tr>
  						{% endfor %}
  					</tbody>
  				</table>
  			</div>
		</div>
	</div>
	<nav class="navbar navbar-default" style="margin-top: 70px; height: 80px">
	  <div class="container">
	  	<p class="col-sm-7 col-sm-offset-3">
	    		<a href="http://vadimkantorov.com">Vadim Kantorov</a>, vadimkantorov@gmail.com
	    	</p>
	  </div>
	</nav>
	
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    	$(document).ready(function()
    	{
	    	$('.command-output-toggler').click(function() {$(this).siblings('.command-output').toggle(); $(this).siblings('.command-output-toggler').andSelf().toggleClass('hidden'); return false;})
 		});
    </script>
    
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-69259430-1', 'auto');
	  ga('send', 'pageview');
   </script>
  </body>
</html>
